<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<div th:fragment="issLocation(issLocation)">

    <div class="flex">
        <span id="iss-latitude" th:text="|${issLocation.issPosition.latitude}º|"></span>
        <span>,</span>
        <span id="iss-longitude" th:text="|${issLocation.issPosition.longitude}º|"></span>
    </div>

</div>

<div th:fragment="issPopulation(issPop)">

    <div class="grid grid-cols-2">
        <span th:text="|Pop: ${issPop.number}|"></span>
    </div>

</div>

<div th:fragment="hobis(quote)">

    <span th:text="${quote}"></span>

</div>

</html>