<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">

</div>

<th:block layout:fragment="script-content">

    <script type="text/javascript">
        fetch('https://api.ipify.org?format=json')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                const ip = data.ip;
                console.log(ip);
                // redirect to the new page
                window.location.href = '/astronomy?ip=' + ip;
            })
            .catch(function (error) {
                console.log('Error: ', error);
            });
    </script>

</th:block>
</body>
</html>
